#main {
  margin: 15px 8px;
  border-radius: 5px;
  background-color: #cfcfcf;
}

#tribute-name {
  font-size: 60px;
  text-align: center;
  margin: auto;
}

p {
  text-align: center;
}

#img-div {
  background-color: white;
  padding: 10px;
  margin: 5px 10px;
}

#image {
  height: auto;
  width: 100%;
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin: auto;
}

figcaption {
  text-align: center;
}

#tribute-info {
  padding: 5px 30px;
}

.tribute-header {
  text-align: center;
}

#song-grid {
  display: grid;
  grid-template-columns: repeat(5, 15%);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
}

.song {
  background-color: #364548;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.song-image {
  display: block;
  margin: 10px auto 5px auto;
  height: 200px;
  width: 200px;
}

.song-details {
  margin-left: 10px;
  color: #f4f3ef;
}

.song-link {
  font-size: 10pt;
  color: #477ca7;
}

.song-link:visited {
  font-size: 10pt;
  color: #74638f;
}

.song-release-date {
  font-size: 10pt;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

#more-info {
  font-size: 20px;
  font-weight: bold;
}

.tribute-link {
  color: #477ca7;
}

.tribute-link:visited {
  color: #74638f;
}
